" use space as Leader
let g:mapleder = "\<Space>"

"Save file with space + w
nnoremap <Leader>w :w<CR>

"increment and decrement"
nnoremap + <C-a>
nnoremap - <C-x>


"show line number
set number
set smartindent
set autoindent
"tab with 2 half-width spaces"
set expandtab
"display width of tab character at the begining of a line"
set tabstop=2
"display width of tab character outside the begining of a line"
set shiftwidth=2


set cursorline
"user clipboard"
set clipboard+=unnamed

"途中から検索開始する
set incsearch
"Search regardless of case if the search character is lowercase"
set ignorecase
"case sensitive if search characters are uppercase"
set smartcase

" hilight search words"
set hlsearch
"hilight off in two ESC times"
nmap <silent> <Esc><Esc> ;nohlsearch<CR>



"" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
" source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

